.super-wrapper{
	position: relative;
	min-height: 100%;
	height: auto!important;
	
}

.super-wrapper:after {
	content: "";
	height: 80px;
	display: block;
}

.wrapper{
	width:1100px;
	margin:0 auto;
	position: relative;
	margin-bottom: 50px;	

	
}

.my-placeholder{
	font-size: 13px;
	font-family: 'fira_sanslight';
	color: #33ccff;
	
}