.my-placeholder{
	font-size: 13px;
	font-family: 'fira_sanslight';
	color: #33ccff!important;	
}




.variable-content{
	position:relative;
	display: inline-block;
	vertical-align: top;
	width:650px;
	margin-left: 60px;
	z-index: 1;
}




.feedback-form{
	margin-left: 124px;
	width:402px;

}

.feedback-block{
	box-sizing:border-box;
	width:auto;
	height:auto;
	background-color: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
	font-family: 'fira_sanslight';
	//font-size: 0;
	color: #336666;
}

.feedback-form .label-short, .feedback-form .label{
	font-size: 19px;
	font-family: 'fira_sanslight';
	color:#999999;
}

.feedback-form .label-short{
	width: 190px;
	word-break: break-word;
}




input[class*="input-form"]::-webkit-input-placeholder,
.input-proj-descr::-webkit-input-placeholder{
	font-size: 13px;
	font-family: 'fira_sanslight';
	color: #33ccff;
}

input[class*="input-form"]::-moz-placeholder
.input-proj-descr::-moz-placeholder{
	font-size: 13px;
	font-family: 'fira_sanslight';
	color: #33ccff;
}
input[class*="input-form"]:-ms-input-placeholder,
.input-proj-descr:-ms-input-placeholder{

	font-size: 13px;
	font-family: 'fira_sanslight';
	color: #33ccff;
}



.feedback-header{
	box-sizing:border-box;
	position: relative;
	font-family: 'fira_sanslight';
	font-size: 27px;
	background-color: rgb(72, 203, 232);
	color:#ffffff; 
	border-radius: 4px 4px 0 0;
	margin-top: 0px;
	margin-bottom:42px;
	width:100%;
	line-height: 121px;
	text-align: center;
	padding: 0 10px;

}
.feedback-header:after{
	height: 17px;
	width: 650px;
  	background-color: rgb(103, 223, 250);
	content: "";
	display: block;
	margin-left: -10px;
}


.form-name, .form-email,.img-captcha, .input-form-captcha, .submit-button, .reset-button{
	display: inline-block;
}


.label {
	display: block;
}

.form-name, .form-email, .input-proj-descr,.descr{
	margin-bottom: 11px;
}

.form-email{
	float: right;
	//margin-left: 13px;
}


.input-form-name, .input-form-email, .input-form-captcha, .input-proj-descr{
	border-width: 1px;
	border-color: rgb(72, 203, 232);
	border-style: solid;
	background-color: rgb(251, 252, 253);
	position: relative;
	width: 192px;
	height: 39px;
	z-index: 129;
	color:#5c656f;
	font-family: 'fira_sanslight';
	font-size: 13px;
	outline: none;
	padding-left: 10px;
	box-sizing:border-box;
	padding-top:7px\0/;
}


.input-form-captcha{
	border-radius: 3px;
	width: 190px;
	height: 30px;
	vertical-align: top;
	margin-top:19px;	
	float: right;
	padding-top:5px\0/;
	//margin-left:70px;
}



.input-form-name, .input-form-email{
  
  border-radius: 3px;
  width: 190px;
  height: 39px;

}	


.input-proj-descr{

	padding-top: 12px;
	border-radius: 4px;
	width: 400px;
	max-width: 400px;
	height: 181px;
	z-index: 146;  
	margin-bottom: 0;
}


.captcha{
	margin-bottom: 20px;
}
.submit-button,.reset-button{
	margin-bottom: 32px;
}

.img-captcha{

	width: 189px;
	height: 77px;

	border-width: 1px;
	border-color: rgb(72, 203, 232);
	border-style: solid;
	border-radius: 4px;
	overflow: hidden;	
}



.has-error{

	
  border-width: 1px;
  border-color: rgb(249, 126, 118);
  border-style: solid;
  border-radius: 4px;
  background-color: rgba(249, 126, 118, 0.302);
}

.reset-button{
	float: right;
}

.input-submit-button{
	outline: none;
	position: relative;
    border-radius: 5px;
    width: 139px;
    height: 33px;
    color: #ffffff;
    background-color: #67dffa;
    border: 1px solid #67dffa;
    border-bottom: 2px solid #3ba8c0;
    font-family: 'fira_sansbook';
    font-size: 19px;

}

.input-submit-button:hover{
  border-radius: 5px;
  background-color: rgb(72, 203, 232);
  position: relative;
  border:none;
  width: 139px;
  height: 33px;
  z-index: 66;
}

.input-submit-button:active{
	
    border-radius: 5px;
    width: 139px;
    height: 33px;
    color: #ffffff;
    background-color: #67dffa;
    border: 1px solid #67dffa;
    border-top: 2px solid #3ba8c0;
    font-family: 'fira_sansbook';
    font-size: 19px;

}

.input-reset-button{
	outline: none;
	position: relative;
    border-radius: 5px;
    width: 139px;
    height: 33px;
    color: #ffffff;
    background-color: #849db5;
    border: 1px solid #849db5;
    border-bottom: 2px solid #687b8f;
    font-family: 'fira_sansbook';
    font-size: 19px;
}

.input-reset-button:hover{
  border-radius: 5px;
  background-color: rgb(132, 157, 181);
  border:none;
  position: relative;
  width: 139px;
  height: 33px;
  z-index: 68;	
}

.input-reset-button:active{
    border-radius: 5px;
    width: 139px;
    height: 33px;
    color: #ffffff;
    background-color: #849db5;
    border: 1px solid #849db5;
    border-top: 2px solid #687b8f;
    font-family: 'fira_sansbook';
    font-size: 19px;
}









